
/*Modal style*/
h4 {
    text-align: center;
    position: absolute;
    margin-left: 106px;
    color: white;
}

.close {
    float: right;
    color: white;
    transition-duration: 0.3s;
}

    .close:hover {
        color: red;
    }

.logout_btn {
    width: 100px;
}

.modal-header {
    background-color: #233E99;
}

.modal-body {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*.modal-content {
}*/
